---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  color: #eee; background-color: #111 ;
}

table { color: #ddd; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #1a1a1a; }
table th { background-color: #111 ; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #2a7ae2; }
a:hover { color: #7cb5ff; text-decoration: underline; }

.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

.site-title:visited { color: #eee; }
.site-title:hover  { text-decoration: none ! important; }
